commands/getuserinfo.js
commands/unwhitelist.js
commands/whitelist.js 

data
node_modules
assets

.env
deploy-commands.js
index.html

logging

commands/receivelogsfromserver.js
commands/permission.js
commands/log.js
commands/crossservermessage.js
commands/crossservermessagingwhitelist.js
commands/logchannel.js

index.js